[submodule ".wallpapers/Wide/wallpapers"]
	path = .wallpapers/Wide/wallpapers
	url = https://gitlab.com/dwt1/wallpapers.git
[submodule ".config/sublime-text/Packages/User/Dracula Color Scheme"]
	path = .config/sublime-text/Packages/User/Dracula Color Scheme
	url = https://github.com/dracula/sublime.git
